.genre_title-cards{
    text-align: center;
    height: 400px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
}

.genre_carousel-outer-container {
    padding-top: 3rem;
    background: black;
    height: 90vh;
    display: flex;
    align-items: center;
}


.genre_carousel-inner-container{
    height: auto;
    margin: 5rem;
    display: flex;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    margin-left: calc(100vw / 2);
}



.genre-card-container{
    background: transparent;
    color: whitesmoke;
    max-height: 100%;
    font-size: 1.3rem;
    background: black;
}

.genre-card-img{
    width: 50vmin;
    height: 70vmin;
    object-fit: cover;
    object-position: center;
}

.genre_title-nav{
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.5rem;
}


@media screen and (max-width: 1500px) {
    .genre_title-cards{
        font-size: 1.8rem;
        height:400px;
        padding-top: 3rem;
        
    }
}

@media screen and (max-width: 750px) {
    .genre_title-cards{
        font-size: 1.25rem;
        height:300px;
        padding: 2rem;
    }
    .genre_title-nav{
        font-size: 16px;
    }
    .genre_carousel-outer-container {
        height: 600px;
    }

}


@media screen and (max-width: 360px) {
    .genre_title-cards{
        font-size: 1rem;
        height: 250px;
    }
    .genre_carousel-outer-container {
        height: 400px;
    }
    .genre_carousel-inner-container{
        margin: 0 50px;
    }
}

#cursor{
    background-color: whitesmoke;
    height: 50px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    display: none;
}