.pagination{
    display: flex;
    font-size: 1.25rem;
  
    justify-content: center;
}

.page_number {
    border: solid black 1px;
    padding: 10px 15px;
}

.selected{
    border: solid green 2px;
    color: green;
}

@media only screen and (max-width: 815px) {
    .pagination{
        font-size: .8rem;
    }

    .page_number{
        padding: 5px 10px;
    }
  
}