.book_detail-outer-container{
    height: 750px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book_detail-inner-container{
   
    background-color: green;
    display: flex;
    padding: 1rem;
    gap: 2rem;
}

.book_detail-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.book_detail-rating{
    font-size: 2rem;
    display: flex;
    gap: 2rem;
}

.book_detail-reviews{
    min-height: fit-content;
    background-color: blue;
}

.addReview-btn{
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 25px;
    width: 150px;
    text-align: center;
}

.addReview-btn:hover{
    cursor: pointer;
}