.login_container{
    display: flex;
    justify-content: center;
}


.login_container form{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    justify-content: center;
    gap: 1.5rem;
}

.login_container label{
    padding: 0
}

.login_container h2{
    align-self: center;
    font-size: 2rem;
}

.login_container p{
    color: grey;
    padding: 0 3rem;
}
.login_container input{
    font-size: 1.2rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: lightgray;
    padding: 1.2rem 0;
    
}

.login_container input:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: black;
    outline: none;
}

.login-button {
    height: 5%
}