.header_container{
    background-image: url(../../assets/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg);
    background-size: contain;
    display: flex;
    justify-content: space-between;
    padding: 5rem 3rem 0 3rem;
    max-width: 100vw;
    max-height: 1000px;
}


.header_container-card{
    margin: 150px 0 100px;
    width: 100vw;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    height: 400px;
}

.header-card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    flex:0.75;
    color: white;
    font-size: 1.5rem;
}

.header-card-info>h2{
    font-size: 2rem;
}

.header-card-author{
    flex:1;
    display: flex;
    background: var(--whitesmoke-color);
    
}

.header-card-info>button{
    height: 50px;
    width: 125px;
    border-radius: 10px;
    background-color: var(--whitesmoke-color);
    border: none;
    font-size: 1rem;
}

.header-card-img{
    max-width: 50%;
    max-height: 100%;
    display: flex;
    align-items: center;
    padding: 3rem 2rem 0rem 2rem;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.25rem;
}
.header-card-img>img{
    width: 100%;
    max-height: 325px;
   
  
}

.header-card-author-info{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.25rem;
    padding: 1rem 2rem 1rem 2rem;
    background: black;
    color: var(--whitesmoke-color);
}


@media screen and (max-width: 1500px) {
    .header_container{
        background-size: cover;
    }
    .header-card-info > h2{
        font-size: 3rem;
    }
    .header_container-card > * > *{
        font-size: 1rem;
    }
    .header-card-author-info>:last-child{
        display: none;
    }

}


@media screen and (max-width: 1000px) {
    .header_container-card > * > *{
        font-size: 1rem;
    }
    .header-card-img{
        display: none;
    }
    .header-card-info > h2{
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .header_container-card > * > *{
        font-size: .8rem;
        
    }
    .header-card-author{
        display: none;
    }
    .header_container-card{
        margin-top: 5rem;
        height: fit-content;
        display: block;
    }
    .header-card-info{
        gap:7px;
    }

}

@media screen and (max-width: 360px) {
    .header_container{
           
            padding: 4rem 1rem 0 1rem;
    }

    .header_container-card{
        margin: 1rem;
        margin-top: 5rem;
    }
    .header-card-info button{
        height: 35px;
        width: 100px;
    }

    
   
}